<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="navbar-header col-md-3 col-lg-2 me-0 px-3">
        <a class="navbar-brand" href="/">
            <img class="align-middle" src="/favicons/{{favicon}}" border="0" style="border-radius: 50%;" height="32px">&nbsp;
            WhMgr Admin Dashboard
        </a>
    </div>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    {{#if passport}}
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{passport.image}}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{passport.email}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right text-small shadow" aria-labelledby="dropdownProfile">
            <li><a class="dropdown-item" href="/dashboard/profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
        </ul>
    </div>
    {{else}}
    <a href="/login" class="d-flex align-items-center text-decoration-none" aria-expanded="false">
        <strong>Login</strong>
    </a>
    {{/if}}
</header>