<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Configuration</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/dashboard">
                    <i class="fas fa-home"></i>&nbsp;
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/configs">
                    <i class="fas fa-cogs"></i>&nbsp;
                    Configs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/discords">
                    <i class="fas fa-server"></i>&nbsp;
                    Discord Servers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/alarms">
                    <i class="fas fa-bell"></i>&nbsp;
                    Alarms
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/filters">
                    <i class="fas fa-filter"></i>&nbsp;
                    Filters
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/embeds">
                    <i class="fas fa-project-diagram"></i>&nbsp;
                    Embeds
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/geofences">
                    <i class="fas fa-location-arrow"></i>&nbsp;
                    Geofences
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/roles">
                    <i class="fas fa-layer-group"></i>&nbsp;
                    Discord Roles
                </a>
            </li>
        </ul>
        
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Management</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/users">
                    <i class="fas fa-users"></i>&nbsp;
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/settings">
                    <i class="fas fa-sliders-h"></i>&nbsp;
                    Settings
                </a>
            </li>
        </ul>
        
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Utilities</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/swagger">
                    <i class="fas fa-map-marked-alt"></i>&nbsp;
                    Open API
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/utils/converters">
                    <i class="fas fa-map-marked-alt"></i>&nbsp;
                    Geofence Converters
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/utils/restart">
                    <i class="fas fa-redo"></i>&nbsp;
                    Restart WhMgr
                </a>
            </li>
        </ul>
    </div>
</nav>

<script>
    // Get current URL path and assign 'active' class
    ///html/body/div/div/nav/div/ul[1]/li[1]/a
    const pathname = window.location.pathname;
    //$('nav > div > ul > li > a[href="' + pathname + '"]').addClass('active');
    const children = document.querySelectorAll('nav > div > ul > li > a');
    for (const child of children) {
        const href = $(child).attr('href');
        if ((pathname.includes(href) && href !== '/dashboard') || href === pathname) {
            $(child).addClass('active');
        }
    }
</script>