<!DOCTYPE html>
<html lang="en">
    {{> header}}

    <body class="{{template}}">
        {{> navbar}}

        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col">
                    {{> sidebar}}
                </div>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    {{{body}}}
                </main>

            </div>
        </div>
    </body>

    {{> footer}}
</html>